// @font-face 
//     font-family: "Raleway-ExtraBold"
//     src: url("./fonts/Raleway-ExtraBold.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal
// @font-face 
//     font-family: "Raleway-BoldItalic"
//     src: url("./fonts/Raleway-BoldItalic.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal

// @font-face 
//     font-family: "Raleway-Medium"
//     src: url("./fonts/Raleway-Medium.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal

// @font-face 
//     font-family: "Raleway-Light"
//     src: url("./fonts/Raleway-Light.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal

// @font-face 
//     font-family: "HelveticaNeueCyr-Thin"
//     src: url("./fonts/HelveticaNeueCyr-Thin.ttf") format("truetype")
//     font-weight: normal
//     font-style: normal
// @font-face 
//     font-family: "Comfortaa-Light"
//     src: url("./fonts/Comfortaa-Light.ttf") format("truetype")
//     font-weight: normal
//     font-style: normal

// @font-face 
//     font-family: "Robotolight"
//     src: url("./fonts/Robotolight.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal
// @font-face 
//     font-family: "Robotothin"
//     src: url("./fonts/Robotothin.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal
// @font-face 
//     font-family: "Robotobold"
//     src: url("./fonts/Robotobold.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal
// @font-face 
//     font-family: "Berkshireswash"
//     src: url("./fonts/Berkshireswash.woff2") format("truetype")
//     font-weight: normal
//     font-style: normal



    
$colorMain: rgb(238, 228, 208)
$colorLight: rgb(0, 177, 138)
$colorDeepLight: rgba(0, 250, 250, 0.349)
$colorDark: rgb(0, 51, 47)


html
    font-size: 62.5%
    font-family: Arial
    // background: url(./img/firefon.jpg) center / cover no-repeat
    background: #181818
*
    margin: 0
    padding: 0
    box-sizing: border-box
p
    font-size: 1.2rem
    letter-spacing: 0.1rem
    color: $colorMain
    
h1
    font-size: 3rem
    color: $colorMain
    letter-spacing: 0.1rem
h2
    font-size: 2rem
    color: $colorMain
    letter-spacing: 0.1rem
h3 
    font-size: 1.5rem
    color: $colorMain
    letter-spacing: 0.1rem

.fontsize2rem
    font-size: 2rem

.light
    color: $colorLight
.dark
    color: $colorDark
.white
    color: rgb(255, 255, 255)
// .bold
//     font-family: "Raleway-ExtraBold"
// .lightFont
//     font-family: "Robotothin"
.taright
    text-align: right
.taleft
    text-align: left
.tacenter
    text-align: center
.marginbottom5
    margin-bottom: 5rem
.marginbottom2
    margin-bottom: 2rem
a
    text-decoration: none
    color: $colorMain
.upper
    text-transform: uppercase
button
    border: none
    padding: 0.5rem
